{% extends "base.html" %}
{%- block content %}
<script>
$(function()
{
	$(".api-regenerate-button").click(function()
	{
		if(confirm("Are you sure?"))
		{
			location.href = "{{ url_for("api_regenerate_key") }}";
		}
	});
});
</script>
<style>
.details {
	font-size: 1.5em;
}

body {
	background-color: #f6f5f3;
}

.path-card {
	width: 100%;
	background-color: #FFFFFF;
	margin-top: 2px;
	padding: 20px;
}

.path-card .path-left {
	display: inline-block;
}

.path-card .path-left .path-name {
	font-size: 20px;
}

.path-card .path-left .path-data {
	margin-right: 10px;
	font-size: 13px;
}

.path-card .path-left .path-menu a {
	color: #999;
}

.path-card .path-right {
}

.path-card .path-right .path-data {
	margin-bottom: 5px;
/*	text-align: right;*/
}

.path-card .path-right .path-data .glyphicon {
	margin-right: 5px;
}

</style>
<div class="details">
</div>
<h2>Recents</h2>
{%- for path in paths %}
	<div class="path-card row">
		<div class="path-left col-sm-4">
			<div class="path-name"><a href="/{{path.Path}}">{{ request.url_root | urljoin(url_for("path_information", path=path.Path)) }}</a></div>
			<div class="path-info">
				<span class="path-data"><a href="{{ url_for("file_information", no=path.FileNo) }}">File #{{ path.File.No }}</a></span>
				<span class="path-data">{{ path.File.Size | convertSize }}</span>
				<span class="path-data path-menu"><a href="{{ url_for("path_transmit", path=path.Path) }}">ACTUAL</a></span>
				<span class="path-data path-menu"><a href="{{ url_for("path_analyze", path=path.Path) }}">STATS</a></span>
			</div>
		</div>
		<div class="path-right pull-right col-xs-12 col-sm-3 col-sm-offset-5">
			<div class="path-data"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ path.ActualName }}</div>
			<div class="path-data"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ path.Uploaded | convertTime }}</div>
		</div>
	</div>
{%- endfor %} 
<nav>
	<ul class="pagination">
	{%- for page in range(1, ((pathCount/50) | round(0, 'ceil') | int)+2) %}
		<li {% if request.args.get("page", "1") == (page|string) %}class="active"{% endif %}><a href="{{url_for("overview")}}?page={{page}}">{{page}}</a></li>
	{%- endfor %}
	</ul>
</nav>
{%- endblock %}
