{% extends "base.html" %}
{%- block content %}
<style>
.upload-container {
	border-style: dashed;
	color: #00004a;
	padding: 20px;
}

.upload-container-text {
	text-align: center;
	height: 144px;
	margin-top: 53px;
}
</style>
<script type="text/javascript" src="/static/js/upload.js?t=3"></script>
<form role="form" enctype="multipart/form-data" id="uploadForm">
	<input type="file" class="fileInput instant" style="display: none;" />
	<div class="upload-container">
		<div id="upload-instant-form" ondrop="handleFileSelect(event)" ondragover="handleDragOver(event)">
			<div class="upload-container-text">
				<span class="glyphicon glyphicon-file" style="font-size: 50px" aria-hidden="true"></span><br />
				Drag your file and drop here<br />
				<small>... or click this area</button></small>
				<div>
				</div>
			</div>
		</div>
		<div>
			<span id="filenameInput"></span>
			<button type="button" class="depot-box uploadButton" style="width: 100px; font-size: 14px; padding: 6px 12px;margin-left: 1px; display:none">Upload</button>
			<ul id="uploadList" class="list-group">
			</ul>
		</div>
	</div>
</form>
<h2>Recents</h2>

{%- for path in paths %}
	<div class="path-card row">
		<div class="path-left col-sm-4">
			<div class="path-name"><a href="/{{path.Path}}">{{ request.url_root | urljoin(url_for("path_information", path=path.Path)) }}</a></div>
			<div class="path-info">
				<span class="path-data"><a href="{{ url_for("file_information", no=path.FileNo) }}">File #{{ path.File.No }}</a></span>
				<span class="path-data">{{ path.File.Size | convertSize }}</span>
				<span class="path-data path-menu"><a href="{{ url_for("path_transmit", path=path.Path) }}">ACTUAL</a></span>
				<span class="path-data path-menu"><a href="{{ url_for("path_analyze", path=path.Path) }}">STATS</a></span>
			</div>
		</div>
		<div class="path-right pull-right col-xs-12 col-sm-3 col-sm-offset-5">
			<div class="path-data"><span class="glyphicon glyphicon-file" aria-hidden="true"></span> {{ path.ActualName }}</div>
			<div class="path-data"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> {{ path.Uploaded | convertTime }}</div>
		</div>
	</div>
{%- endfor %} 
{%- endblock %}
