{% extends "base.html" %}
{% block content %}
<style>
body {
	background-color: #f6f6f6;
}
a:hover { 
	text-decoration: none;
}

h4 { margin-top: 0px; }

.vcenter {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	width: 500px;
	height: 100px;
}

.pi_download_button {
	width: 100px; 
	display: inline-block;
}

.pi_path_information {
	width: 390px;
	position: absolute;
	display: inline-block;
	margin-left: 10px;
}

@media (max-width: 768px) {
	.pi_download_button {
		margin: auto;
		width: 100px;
		display: block;
	}
	.pi_path_information {
		margin: 0;
		padding: 10px;
		width: 100%;
		text-align: center;
	}
	.vcenter {
		width: 100%;
	}
}


</style>
<div class="">
        <div class="vcenter">
		<div class="pi_download_button">
	                <div style="text-align: center; display: table-cell">
	                        <a style="margin: 0 auto; display:block; width: 100px; height: 100px; border-radius: 50px; " class="depot-box" href="{{ url_for("path_transmit", path=request.path) }}"><span class="glyphicon glyphicon-download" style="font-size: 50px; margin-top: 20px;"></span></a>
	                </div>
		</div>
		<div class="pi_path_information">
			<h4 style="text-align: center;">{{ data.ActualName }}</h4>
			<span class="glyphicon glyphicon-cloud-download" aria-hidden="true"> </span> {{ data.Downloaded }} / {{ data.DownloadLimit if data.DownloadLimit else "unlimited" }}
			<span class="glyphicon glyphicon-file" aria-hidden="true"> </span> {{ data.File.Size | convertSize }} 
			<span class="glyphicon glyphicon-time" aria-hidden="true"> </span> {{ data.Uploaded | convertTime }}
			<span class="glyphicon glyphicon-fire" aria-hidden="true"> </span> {{ data.ExpiresIn if data.ExpiresIn else "Never" }}
			<br />
			<small>MD5 {{ data.File.MD5Sum | convertDBFlag }}<br />
			SHA1 {{ data.File.SHA1Sum | convertDBFlag }}</small>
		</div>
		{% if session["user_id"] %}
		<div style="width: 100%">
			<a style="display: inline-block; width: 49%; background-color: red;" class="depot-box" href="{{ url_for("path_delete", path=request.path) }}">DELETE</a>
			<a style="display: inline-block; width: 49%; background-color: red;" class="depot-box" href="{{ url_for("path_delete", path=request.path) }}?with_file=1">DELETE WITH FILE</a>
		</div>
		{% endif %}
        </div>

</div>
{% endblock %}
