{% extends "base.html" %}
{% block content %}
<style>
.input-group { width: 100%; }
</style>
<div style="width: 300px; height 200px; position:absolute; top:50%; left:50%; margin-top: -100px; margin-left: -150px;">
	<form method="POST" action="{{url_for("signin")}}">
		<div style="width: 100%">
			<h1 style="text-align: center">Sign in</h1>
			<div class="input-group">
				<input type="text" name="id" class="form-control" placeholder="ID" />
			</div>
			<div class="input-group">
				<input type="password" name="password" class="form-control" placeholder="Password" />
			</div>
			<input type="submit" value="Sign in" style="width: 100%" />
		</div>
	</form>
</div>
{% endblock %}
